@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  font-family: superStar;
  font-size: 48px;
  color: #14077D;
}

h2 {
  font-family: superStar;
  font-size: 56px;
}

.textgradient {
  background: linear-gradient(69deg,#6193FF 35%,#F7006A 65%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hero {
  height: 70vh;
  background-color: #111;
}

section {
  margin: 24px 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  color:white;
  background-color: #111;
  font-family: superStar;
  
}

.navbar a {
  padding: 0 11px;
  text-transform: uppercase;
}

.navbar a.active::before {
  content: "－";
  color: #FFA8CD;
  font-weight: 1000;
}
.navbar a.active::after {
  content: "－";
  color: #FFA8CD;
  font-weight: 1000;
}

.navbar a:hover {
  color: #FFA8CD;
  text-shadow: 0 0 10px #F7006A;
  transition: all 0.2s;
}

.bluefill {
  background-color: rgba(57, 120, 252, 0.1);
  box-shadow: 0 0 5px #3978FC;
  backdrop-filter: blur(40px);
}

.pinkframe {
  box-shadow: 0 0 10px #F7006A;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  /* display: none; Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.expanded-card {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 100;
  width: 67%;
  animation: cardOpen 0.5s ease-in;
}

@keyframes cardOpen {
  0% {
    width: 2px;
    height: 2px;
  } 
  50% {
    width: 67%;
    height: 2px;
    transform-origin: 50%;
  } 
  100% {
    width: 67%;
    height: 200px;
    transform-origin: 50%;
  }
}

.teamcard {
  border: solid 15px;
  border-image: url(./assets/team_border.png) 30;
  min-height: 25rem;
}

.teamcard h1 {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  font-weight: 600;
  text-align: center;
  border: solid #111 3px;
  background-color: #d9d9d9;
}

.teamcard .info {
  margin:0.25rem;
  padding: 0.5rem 0;
  /* text-align: center; */
  border: solid #111 3px;
  background-color: #d9d9d9;
}

.teamcard:hover .details {
  /* opacity: 1; */
  display: block;
  transition: all 0.3s ease-out;
  min-height: 100%;
}

.teamcard .details {
  /* opacity: 0; */
  display: none;
  transition: all 0.3s ease-out;
}

.teamcard img {
  /* opacity: 1; */
  display: block;
  transition: all 0.3s ease-out;
  border: solid #111 3px;
  margin: 0.25rem;
  width: 100%;
}

.teamcard:hover img {
  /* opacity: 0; */
  display: none;
  transition: all 0.3s ease-out;
}




/* Corner frame design by Temani Afif */
/* https://css-tip.com/corner-only-border-image/ */
/* Edited to include hover transition */
.corner-frame {
  --b: 2px;   /* thickness of the border */
  --c: #B4CCFF;   /* color of the border */
  --w: 10px;  /* width of border */
  
  transition: 0.3s ease-in-out;
  border: var(--b) solid #0000; /* space for the border */
  --_g: #0000 90deg,var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
}

.corner-frame:hover {
  --w: 150px;
  transition: 0.3s ease-in-out;
}

.newscard {
  min-width: 10rem;
  width: 100%;
  min-height: 9rem;
  aspect-ratio: 9/10;
  position: relative;
}

.newsborder {
  border: solid 15px;
  border-image: url("./assets/newscard_border.svg") 30;
}


.newscard .date, .newscard .title {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-out;
}

.newscard .readmore {
  color: #479FE6;
  position: absolute;
  display: flex;
  gap:0.25rem;
  align-items: center;
  bottom: 1rem;
  right: 1rem;
  width: max-content;
  max-width: 150px;
  transition: all 0.3s ease-out;
}

/* .newscard .readmore:after {
  display: block;
  content: '';
  border-bottom: solid 2px #14077D;  
  transform-origin:100% 50%;
  transition: all 0.3s ease-in-out;
} */

.newscard:hover .readmore {
  bottom: 40%;
  right: 1rem;
  gap: 0.5rem;
  color: #479FE6;
  max-width: calc(100% - 2rem);
  width: calc(100% - 2rem);
  transition: top all 0.3s ease-out;
}

.newscard:hover .big {
  bottom: 10%;
}

.newscard:hover hr {
  flex-grow: 1;
  border: 2px #14077D solid;
  transition: top all 0.3s ease-out;
}

.newscard hr {
  flex-shrink: 1;
  /* border: 2px #14077D solid; */
}

.newscard:hover .readmore:after { 
  border-bottom: solid 2px #479FE6;
  transform-origin:100% 50%;
  transition: all 0.3s ease-in-out;
}

.newscard:hover .date, .newscard:hover .title {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.newscard:hover .summary {
  opacity: 1;
  transition: all 0.3s ease-out;
}

.newscard .summary {
  position: absolute;
  bottom:0;
  transform: translateY(-1rem);
  margin-right: 1rem;
  opacity: 0;
  text-overflow: ellipsis;
  transition: all 0.3s ease-out;
}

progress {
  border: solid white 2px;
  width: 80%;
  background: none;
}

progress[value]::-webkit-progress-bar {
  background: none;
}

progress[value]::-webkit-progress-value {
  background-color: #F7006A;
}

progress[value]::-moz-progress-bar {
  background: #F7006A;
}

.footer {
  border: solid 15px;
  border-image: url("./assets/footer_border.png") 30;
  background-color: white;
}

.footerbg {
  background-color: rgba(7, 16, 74, 0.5);
  padding: 2rem;

}

.button {
  border: solid 10px;
  border-image: url("./assets/button.png") 30 fill;
}

.button:hover {
  border: solid 10px;
  border-image: url("./assets/button_pressed.png") 30 fill;
}

input[type=radio] {
  appearance: none;

}

.radioButton {
  border: 4px #14077D solid;
  border-left: none;
  border-radius: 0 1rem 0 0;
}

input[type=radio]+label {
  display: block;
  padding: 1rem 0;
  text-align: center;
  font-size: larger;
  text-transform: uppercase;
  font-family: superStar;
  background-color: #f0f0f0;
  cursor: pointer;
}

.radioButton:has( > [type=radio]:checked) {
  color: #282c34;
  border-bottom: none;
}